<!--DOCTYPE html5-->
{% load static %}
<html lang='en'>
	<head>
		<title>Create</title>
		<link rel='icon' href='{% static "create/img/create.ico" %}' />
		<link rel='stylesheet' href='{% static "create/style.css" %}' />
		<script src="https://kit.fontawesome.com/51e1fe77b6.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<input type='hidden' id='previous-activities' value="{{activities}}"/>
		<form method='post' action='{% url "schedule:view_main" %}'>
			{% csrf_token %}
			<input type='hidden' id='username-inp' name='username' value='{{username}}' />
			<input type='hidden' id='password-inp' name='password' value='{{password}}' />
			<button>Go to main</button>
		</form>
		<div id='container'>
			<div id='container-form'>
				<form class='form-activities' id='form-activities' action='{% url "schedule:add_activity" %}' method='post' />
					{% csrf_token %}
					<!--Form for activities-->
				</form>
			</div>
				<!--activities fields -->
			
		</div>
		<script src='{% static "create/main.js" %}' type='module'></script>
	</body>
</html>
