<!--DOCTYPE html5-->
{% load static %}
<html lang='en'>
	<head>
		<title>Create</title>
		<link rel='icon' href='{% static "create/img/create.ico" %}' />
		<link rel='stylesheet' href='{% static "create/style.css" %}' />
		<script src="https://kit.fontawesome.com/51e1fe77b6.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<input type='hidden' id='previous-activities' value="{{activities}}" />
		<form method='post' action='{% url "schedule:view_main" %}'>
			{% csrf_token %}
			<input type='hidden' name='username' value='{{username}}' />
			<input type='hidden' name='password' value='{{password}}' />
			<button>Go to main</button>
		</form>
		<div id='container'>
			<div id='container-form'>
				<form class='form-activities' action='#' method='post' />
					<!--Form for activities-->
				</form>
			</div>
				<!--activities fields -->
			<form id='form-create-schedule' method='post' action='{% url "schedule:create_schedule" %}'>
				{% csrf_token %}
				<input type='hidden' name='username' value='{{username}}' />
				<input type='hidden' name='password' value='{{password}}' />
				<input name='data' type='hidden' id='inp-data' />
				<button style='margin: auto;' id='btn-create-schedule'>Create Schedule</button>
			</form>
		</div>
		<script src='{% static "create/main.js" %}' type='module'></script>
	</body>
</html>
