<!--DOCTYPE html5-->
<html lang='en'>
	<head>
		<title>Create</title>
		<link rel='icon' href='images/create.ico' />
		<link rel='stylesheet' href='style.css' />
	</head>
	<body>
		<div id='container'>
			<div id='container-form'>
				<form action='#' method='post'>
					<h3>Create each activities for your week! (˶ᵔ ᵕ ᵔ˶)</h3>
					<label>Type of activity</label>
					<select>
						<option name='type' value='fixed' title='set a fixed time'>Fixed</option>
						<option name='type' value='auto' title='the program will set the time'>Auto fill</option>
					</select>	
					<label>Category</label>
					<select>
						<option name='category' value='sports'>Sports</option>
						<option name='category' value='university'>University</option>
						<option name='category' value='leasures'>Leasures</option>
						<option name='category' value='study'>Study</option>
						<option name='category' value='courses'>Courses</option>
						<option name='category' value='friends'>Friends</option>
						<option name='category' value='family'>Family</option>
						<option name='category' value='home'>Home</option>
						<option name='category' value='workout'>Workout</option>
					</select>
					<label>Day</label>
					<select>
						<option name='day' value='monday'>Monday</option>
						<option name='day' value='tuesday'>Tuesday</option>
						<option name='day' value='wednseday'>Wednesday</option>
						<option name='day' value='thrusday'>Thrusday</option>
						<option name='day' value='friday'>Friday</option>
						<option name='day' value='saturday'>Saturday</option>
						<option name='day' value='sunday'>Sunday</option>
					</select>
					<label>Name</label>
					<input type='text' name='name' />
					<label>From</label>
					<input type='number' name='from' />
					<label>To</label>
					<input type='number' name='to' />
					<button>Add</button>
				</form>
			</div>
			<div class='container-day'>
				<h3>Monday</h3>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
			</div>
			<div class='container-day'>
				<h3>Tuesday</h3>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
			</div>
			<div class='container-day'>
				<h3>Wednesday</h3>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
			</div>
			<div class='container-day'>
				<h3>Thrusday</h3>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
			</div>
			<div class='container-day'>
				<h3>Friday</h3>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
			</div>
			<div class='container-day'>
				<h3>Saturday</h3>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
			</div>
			<div class='container-day'>
				<h3>Sunday</h3>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
				<div class='day-activity'>
					<div class='activity-details'>
						<p class='details-name'>Swimming</p>
						<p class='details-category'><span></span>Sports</p>
					</div>
					<div class='activity-time'>
						<p>10:00</p>
						<p>12:00</p>
					</div>
					<button>Remove</button>
				</div>
			</div>
			<div id='container-submit'>
				<button>Create new Schedule</button>
			</div>
		</div>
	</body>
</html>
