<!--DOCTYPE html5-->
<html lang='en'>
	<head>
		<title>Create</title>
		<link rel='icon' href='images/create.ico' />
		<link rel='stylesheet' href='style.css' />
		<script src="https://kit.fontawesome.com/51e1fe77b6.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id='container'>
			<div id='container-form'>
				<form class='form-activities' action='#' method='post' />
					<!--Form for activities-->
				</form>
			</div>
				<!--activities fields -->
		</div>
		<script src="main.js" type='module'></script>
	</body>
</html>
