<!--DOCTYPE html-->
<html lang="en">
	<head>
		<title>Schedule Maker</title>
		<link rel="stylesheet" href="general.css" />
		<link rel="stylesheet" href="welcome.css" />
	</head>
	<body>
		<h1 class="welcome-msg">Welcome to Schedule maker</h1>
		<p 	class="welcome-msg">Set priorities, hours and <b>get the most value of your time!</b></p>
		<div id="form-container">
			<div id="form-image">
				<img src="welcome_wp.jpg" alt="logo" />
			</div>
			<div id="form-form">
				<form action="#" method="POST">
					<h3>Insert user details <3</h3>
					<label>Username: </label>
					<input type="text" id="username" name="username" placeholder="example_name..." required><br>
					<label id="color-label">Favorite color: </label>
					<input type="color" id="color" name="color" placeholder="example_color..." required><br>
					<button>Continue</button>
				</form>
			</div>
		</div>
	</body>
</html>
