:root{
	--dark: #222831;
	--grey: #31363F;
	--blue: #76ABAE;
	--white: #EEEEEE;
}

h3{
	text-align: center;
}

#form-container{
	display: flex;
}

#form-image{
	width: 600px;
	height: 800px;
}

img{
	width: 600px;
	height: 100%;
	object-fit: cover;
}

#form-form{
	width: 400px;
	padding: 10px;
}

label{
	margin-top: 10px;
	display: inline-block;
}

input{
	margin-top: 35px;
}

input[type="text"]{
	border-bottom: 1.5px solid var(--grey);
	width: 100%;
	border-radius: 5px;
	padding: 5px 10px;
	transition: .3s;
}

input:focus{
	border-bottom: 1.5px solid var(--blue);
}

#color-label{
	display: inline;
}

button{
	display: inline-block;
	margin: auto;
	margin-top: 40px;
	width: 380px;
	padding: 5px 0px;
	border: none;
	color: var(--white);
	background-color: var(--blue);
	cursor: pointer;
}

