<!DOCTYPE html5-->
{% load static %}
<html lang='en'>
	<head>
		<title>Login</title>
		<link rel="icon" href="./images/login.ico" />
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="container">
			<div id="container-welcome">Welcome<br>Back<br>User! </div>
			<div id="container-login">
				<form action="{% url 'schedule:main' %}" method="POST">
					{% csrf_token %}
					<h3>Insert user data</h3>	
					<label>Username:</label>
					<input type="text" id="username" name="username" placeholder="..." />
					<label>password:</label>
					<input type="text" id="password" name="password" placeholder="..." />
					<button>Login</button>
					<p>Don't you have an account? click <a href="register">here</a> to create one.</p>
					<p>{{msg}}</p>
				</form>
			</div>
		</div>	
	</body>
</html>
