<!--DOCTYPE html-->
<html lang='en'>
	<head>
		<title>main</title>
		<link rel='icon' href='images/calendar.ico' />
		<link rel='stylesheet' href='style.css' />
		<script src="https://kit.fontawesome.com/51e1fe77b6.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="container">
			<div id="container-assistance">
				<h3>Next activity!</h3>
				<div id="next-activity">
					<div id="next-activity-details">
						<p>University</p>
						<p>11:00pm - 12:45pm</p>
						<p><span></span>University</p>
					</div>
					<div id="next-activity-buttons">
						<button><i class="fa-solid fa-check"></i></button>
						<button><i class="fa-solid fa-ban"></i></button>
					</div>
				</div>

				<h3>Cancelled Activities</h3>
				<div id="next-activity">
					<div id="next-activity-details">
						<p>University</p>
						<p>11:00pm - 12:45pm</p>
						<p><span></span>University</p>
					</div>
					<div id="next-activity-buttons">
						<button><i class="fa-solid fa-check"></i></button>
					</div>
				</div>
			</div>
			<div id="container-table">
				<table>
					<tr>
						<th>Weekday:</th>
						<th>Weekday:</th>
						<th>Weekday:</th>
						<th>Weekday:</th>
						<th>Weekday:</th>
						<th>Weekday:</th>
						<th>Weekday:</th>
					</tr>
					<tr>
						<td>
						<div id="next-activity">
							<div id="next-activity-details">
								<p>University</p>
								<p>11:00pm - 12:45pm</p>
								<p><span></span>University</p>
							</div>
							<div id="next-activity-buttons">
								<button><i class="fa-solid fa-check"></i></button>
								<button><i class="fa-solid fa-ban"></i></button>
							</div>
						</div>
						</td>
						<td>
						<div id="next-activity">
							<div id="next-activity-details">
								<p>University</p>
								<p>11:00pm - 12:45pm</p>
								<p><span></span>University</p>
							</div>
							<div id="next-activity-buttons">
								<button><i class="fa-solid fa-check"></i></button>
								<button><i class="fa-solid fa-ban"></i></button>
							</div>
						</div>
						</td>
						<td>
						<div id="next-activity">
							<div id="next-activity-details">
								<p>University</p>
								<p>11:00pm - 12:45pm</p>
								<p><span></span>University</p>
							</div>
							<div id="next-activity-buttons">
								<button><i class="fa-solid fa-check"></i></button>
								<button><i class="fa-solid fa-ban"></i></button>
							</div>
						</div>
						</td>
						<td>
						<div id="next-activity">
							<div id="next-activity-details">
								<p>University</p>
								<p>11:00pm - 12:45pm</p>
								<p><span></span>University</p>
							</div>
							<div id="next-activity-buttons">
								<button><i class="fa-solid fa-check"></i></button>
								<button><i class="fa-solid fa-ban"></i></button>
							</div>
						</div>
						</td>
						<td>
						<div id="next-activity">
							<div id="next-activity-details">
								<p>University</p>
								<p>11:00pm - 12:45pm</p>
								<p><span></span>University</p>
							</div>
							<div id="next-activity-buttons">
								<button><i class="fa-solid fa-check"></i></button>
								<button><i class="fa-solid fa-ban"></i></button>
							</div>
						</div>
						</td>
						<td>
						<div id="next-activity">
							<div id="next-activity-details">
								<p>University</p>
								<p>11:00pm - 12:45pm</p>
								<p><span></span>University</p>
							</div>
							<div id="next-activity-buttons">
								<button><i class="fa-solid fa-check"></i></button>
								<button><i class="fa-solid fa-ban"></i></button>
							</div>
						</div>
						</td>
						<td>
						<div id="next-activity">
							<div id="next-activity-details">
								<p>University</p>
								<p>11:00pm - 12:45pm</p>
								<p><span></span>University</p>
							</div>
							<div id="next-activity-buttons">
								<button><i class="fa-solid fa-check"></i></button>
								<button><i class="fa-solid fa-ban"></i></button>
							</div>
						</div>
						</td>
					</tr>
				</table>
			</div>
			<div id="container-options">
				<h3>Settings</h3>
				<button>Edit schedule</button>
				<button>Create new schedule</button>
			</div>
		</div>
	</body>
</html>
