<!--DOCTYPE html-->
{% load static %}
<html lang='en'>
	<head>
		<title>main</title>
		<link rel='icon' href='{% static "main/images/calendar.ico" %}' />
		<link rel='stylesheet' href='{% static "main/style.css" %}' />
		<script src="https://kit.fontawesome.com/51e1fe77b6.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<form action="{% url 'schedule:log_out' %}" method='POST'>
			{% csrf_token %}
			<input type='hidden' value={{username}} name='username' />
			<input type='hidden' value={{password}} name='password' />
			<button>Log out</button>
		</form>
		<div id="container">
			<div id="container-assistance">
				<h3>Next activity!</h3>
				<div id="next-activity">
					<div id="next-activity-details">
						<p>University</p>
						<p>11:00pm - 12:45pm</p>
						<p><span></span>University</p>
					</div>
					<div id="next-activity-buttons">
						<button><i class="fa-solid fa-check"></i></button>
						<button><i class="fa-solid fa-ban"></i></button>
					</div>
				</div>

				{% comment %}TODO: update the how activities are show {% endcomment %}
				<h3>Cancelled Activities</h3>
				{% for el in unshow_activities %}
					<div id="next-activity">
						<div id="next-activity-details">
							<p><b>{{el.day}}</b></p>
							<p>{{el.name}}</p>
							<p>{{el.from_time}} - {{el.to_time}}</p>
							<p><span></span>{{el.category}}</p>
						</div>
						<div id="next-activity-buttons">
							<button class='btn-uncancel' data-day={{el.day}} data-from_time={{el.from_time}}><i class="fa-solid fa-check"></i></button>
						</div>
					</div>
				{% endfor %}
			</div>
			<div id="container-table">
				{% comment %}activities goes here :D{% endcomment %}
			</div>
			<div id="container-options">
				<h3>Settings</h3>
				<form action="#" method='POST'>
					{% csrf_token %}
					<button>Edit schedule</button>
				</form>
				<form action="{% url 'schedule:view_create_schedule' %}" method='POST'>
					{% csrf_token %}
					<input type='hidden' value={{username}} name='username' />
					<input type='hidden' value={{password}} name='password' />
					<button>Create new schedule</button>
				</form>
			</div>
		</div>
		<script src='{% static "main/main.js" %}' type='module'></script>
	</body>
</html>
