<!--DOCTYPE html-->
{% load static %}
<html lang='en'>
	<head>
		<title>main</title>
		<link rel='icon' href='{% static "main/images/calendar.ico" %}' />
		<link rel='stylesheet' href='{% static "main/style.css" %}' />
		<script src="https://kit.fontawesome.com/51e1fe77b6.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<form action="{% url 'schedule:log_out' %}" method='POST'>
			{% csrf_token %}
			<input type='hidden' value={{username}} name='username' />
			<input type='hidden' value={{password}} name='password' />
			<button>Log out</button>
		</form>
		<div id="container">
			<div id="container-assistance">
				{% comment %}TODO: update the how activities are show {% endcomment %}
				<h3>Cancelled Activities</h3>
				{% for act in unshow_activities %}
					<div id="next-activity">
						<div id="next-activity-details">
							<p><b>{{act.day}}</b></p>
							<p>{{act.name}}</p>
							<p><span></span>{{act.category}}</p>
						</div>
						<div id="next-activity-buttons">
							<form method='post' action='{% url "schedule:uncancel_activity" %}'>
								{% csrf_token %}
								<input type='hidden' id='username-inp' name='username' value='{{username}}' />
								<input type='hidden' id='password-inp' name='password' value='{{password}}' />
								<input type='hidden' name='act_id' value={{act.id}}></input>
								<button><i class="fa-solid fa-check"></i></button>
							</form>
						</div>
					</div>
				{% endfor %}
			</div>
			<div id="container-table">
				{% comment %}activities goes here :D{% endcomment %}

			<div class='container-sunday day-container'>
				<h3>sunday</h3>
				{% for act in sunday %}
					<div class='day-activity'>
						<div class='activity-details'>
							<p class='details-name'>{{act.name}}</p>
							<p class='details-category'><span style="background-color: {{act.color}}"></span>{{act.category}}</p>
						</div>
						<div class='activity-time'>
							<p>{{act.from_time}}</p>
							<p>{{act.to_time}}</p>
						</div>
						<form action="{% url 'schedule:cancel_activity' %}" method='post'>
							{% csrf_token %}
							<input type='hidden' id='username-inp' name='username' value='{{username}}' />
							<input type='hidden' id='password-inp' name='password' value='{{password}}' />
							<input type='hidden' name='act_id' value={{act.id}}></input>
							<button><i class="fa-solid fa-trash"></i></button>
						</form>
					</div>
				{% endfor %}
			</div>		


			<div class='container-monday day-container'>
				<h3>monday</h3>
				{% for act in monday %}
					<div class='day-activity'>
						<div class='activity-details'>
							<p class='details-name'>{{act.name}}</p>
							<p class='details-category'><span style='background-color:{{act.color}}'></span>{{act.category}}</p>
						</div>
						<div class='activity-time'>
							<p>{{act.from_time}}</p>
							<p>{{act.to_time}}</p>
						</div>
						<form action="{% url 'schedule:cancel_activity' %}" method='post'>
							{% csrf_token %}
							<input type='hidden' id='username-inp' name='username' value='{{username}}' />
							<input type='hidden' id='password-inp' name='password' value='{{password}}' />
							<input type='hidden' name='act_id' value={{act.id}}></input>
							<button><i class="fa-solid fa-trash"></i></button>
						</form>
					</div>
				{% endfor %}
			</div>		

			<div class='container-tuesday day-container'>
				<h3>tuesday</h3>
				{% for act in tuesday %}
					<div class='day-activity'>
						<div class='activity-details'>
							<p class='details-name'>{{act.name}}</p>
							<p class='details-category'><span style="background-color: {{act.color}}"></span>{{act.category}}</p>
						</div>
						<div class='activity-time'>
							<p>{{act.from_time}}</p>
							<p>{{act.to_time}}</p>
						</div>
						<form action="{% url 'schedule:cancel_activity' %}" method='post'>
							{% csrf_token %}
							<input type='hidden' id='username-inp' name='username' value='{{username}}' />
							<input type='hidden' id='password-inp' name='password' value='{{password}}' />
							<input type='hidden' name='act_id' value={{act.id}}></input>
							<button><i class="fa-solid fa-trash"></i></button>
						</form>
					</div>
				{% endfor %}
			</div>		

			<div class='container-wednesday day-container'>
				<h3>wednesday</h3>
				{% for act in wednesday %}
					<div class='day-activity'>
						<div class='activity-details'>
							<p class='details-name'>{{act.name}}</p>
							<p class='details-category'><span style="background-color: {{act.color}}"></span>{{act.category}}</p>
						</div>
						<div class='activity-time'>
							<p>{{act.from_time}}</p>
							<p>{{act.to_time}}</p>
						</div>
						<form action="{% url 'schedule:cancel_activity' %}" method='post'>
							{% csrf_token %}
							<input type='hidden' id='username-inp' name='username' value='{{username}}' />
							<input type='hidden' id='password-inp' name='password' value='{{password}}' />
							<input type='hidden' name='act_id' value={{act.id}}></input>
							<button><i class="fa-solid fa-trash"></i></button>
						</form>
					</div>
				{% endfor %}
			</div>		

			<div class='container-thursday day-container'>
				<h3>thursday</h3>
				{% for act in thursday %}
					<div class='day-activity'>
						<div class='activity-details'>
							<p class='details-name'>{{act.name}}</p>
							<p class='details-category'><span style="background-color: {{act.color}}"></span>{{act.category}}</p>
						</div>
						<div class='activity-time'>
							<p>{{act.from_time}}</p>
							<p>{{act.to_time}}</p>
						</div>
						<form action="{% url 'schedule:cancel_activity' %}" method='post'>
							{% csrf_token %}
							<input type='hidden' id='username-inp' name='username' value='{{username}}' />
							<input type='hidden' id='password-inp' name='password' value='{{password}}' />
							<input type='hidden' name='act_id' value={{act.id}}></input>
							<button><i class="fa-solid fa-trash"></i></button>
						</form>
					</div>
				{% endfor %}
			</div>		

			<div class='container-friday day-container'>
				<h3>friday</h3>
				{% for act in friday %}
					<div class='day-activity'>
						<div class='activity-details'>
							<p class='details-name'>{{act.name}}</p>
							<p class='details-category'><span style="background-color: {{act.color}}"></span>{{act.category}}</p>
						</div>
						<div class='activity-time'>
							<p>{{act.from_time}}</p>
							<p>{{act.to_time}}</p>
						</div>
						<form action="{% url 'schedule:cancel_activity' %}" method='post'>
							{% csrf_token %}
							<input type='hidden' id='username-inp' name='username' value='{{username}}' />
							<input type='hidden' id='password-inp' name='password' value='{{password}}' />
							<input type='hidden' name='act_id' value={{act.id}}></input>
							<button><i class="fa-solid fa-trash"></i></button>
						</form>
					</div>
				{% endfor %}
			</div>		

			<div class='container-saturday day-container'>
				<h3>saturday</h3>
				{% for act in saturday %}
					<div class='day-activity'>
						<div class='activity-details'>
							<p class='details-name'>{{act.name}}</p>
							<p class='details-category'><span style="background-color: {{act.color}}"></span>{{act.category}}</p>
						</div>
						<div class='activity-time'>
							<p>{{act.from_time}}</p>
							<p>{{act.to_time}}</p>
						</div>
						<form action="{% url 'schedule:cancel_activity' %}" method='post'>
							{% csrf_token %}
							<input type='hidden' id='username-inp' name='username' value='{{username}}' />
							<input type='hidden' id='password-inp' name='password' value='{{password}}' />
							<input type='hidden' name='act_id' value={{act.id}}></input>
							<button><i class="fa-solid fa-trash"></i></button>
						</form>
					</div>
				{% endfor %}
			</div>		

			</div>
			<div id="container-options">
				<h3>Settings</h3>
				<form action="#" method='POST'>
					{% csrf_token %}
					<button>Edit schedule</button>
				</form>
				<form action="{% url 'schedule:view_create_schedule' %}" method='POST'>
					{% csrf_token %}
					<input type='hidden' value={{username}} name='username' />
					<input type='hidden' value={{password}} name='password' />
					<button>Create new schedule</button>
				</form>
			</div>
		</div>
	</body>
</html>
